<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="syscache2" type="NHibernate.Caches.SysCache2.SysCacheSection, NHibernate.Caches.SysCache2" requirePermission="false"/>
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	
	
	<system.web>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="500">
				<databases>
					<add name="testHibernate" connectionStringName="db"/>
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>
	<syscache2>
		<cacheRegion name="tableDependency" priority="High">
			<dependencies>
				<tables>
					<add name="one" databaseEntryName="testHibernate" tableName="StandAlone" />
				</tables>
			</dependencies>
		</cacheRegion>
		<cacheRegion name="FiveSecondTimeInterval" relativeExpiration="5">
		</cacheRegion>
		<cacheRegion name="ExpireAfterCertainTime" timeOfDayExpiration="22:25:00">
		</cacheRegion>
	</syscache2>
</configuration>